*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    background-color: #FFFFFF;
}

@font-face {
    font-family: "Ichiji-two";
    src: url('./Ichiji-Two.otf') format('truetype');
    font-style: normal;
    font-weight: normal;

}

@font-face {
    font-family: "Nunito";
    src: url('./Nunito-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: "Ichiji-two";
}
  
p {
    font-family: "Nunito";
}
    

button:hover{
    background-color: #FFFFFF;
}

.container{
    max-width: 1400px;
    margin: auto;
}

.container nav{
    font-size: 24px;
    margin: 10px;
}

.container a {
    background-color: #003787;
    border: 2px solid #FF7300;
    border-radius: 12px;
    font-family: 'Nunito';
    color: #FFFFFF;
}

header{
    background-color: rgb(245,245,245);
    
}

header .logo{
    margin: 0;
    padding: 22px 30px;
    font-weight: bold;
    color: #003787;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    opacity: .2;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/fotoPagina-Idiomas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: white;
    font-family: 'Ichiji-two';
    font-size: 4.5em;
}
#hero button{
    font-size: 1.75em;
}

header .container{
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}

.foto-logoPagina {
    margin-top: 34px;
    width: 186px;
    height: 100px;
}

@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }
}
/*FINALIZACION DE LA PARTE SUPERIOR*/

.block-content {
    display: flex;
}

.contenido1 {
    width: 465px;
    height: 465px;
    border-radius: 12px;
    margin-left: 67px;
    object-fit: cover;
    box-shadow: 44px -17px 9px 4px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
}
/* 
.texto-informativo1 h1 {
    margin-left: 12px;
} */

#texto1 {
    margin-left: 92px;
    margin-top: 82px;
}

#texto1 h1 {
    font-size: 2.5rem;
}